// Variables
@import 'variables';

// Colors
@import "colors";

@font-face {
    font-family: Arial;

}

.logo {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.footer {
    align-content: center;
}
